/*==========================================================================================================================================================*/
/*==========================================================================================================================================================*/
/*==========================================================================================================================================================*/
/*====*     *===*     *==*      *=====*  *====*  *==*     *===*     *==*        *==*          *=========*        *==*         *==*     *===*     *==========*/
/*====*  **  *=*  **  *==*  *==*  *===*  *====*  *==*  **  *=*  **  *==*  *============*  *=============*  *========*  *===*  *==*  **  *=*  **  *==========*/
/*====*  *=*  *  *=*  *==*  *===*  *==*  *====*  *==*  *=*  *  *=*  *==*     *=========*  *=============*  *========*  *===*  *==*  *=*  *  *=*  *==========*/
/*====*  *==*   *==*  *==*  *==*  *===*   *==*   *==*  *==*   *==*  *==*  *============*  *======   ====*  *========*  *===*  *==*  *==*   *==*  *==========*/
/*====*  *=========*  *==*      *======*        *===*  *=========*  *==*        *======*  *======   ====*        *==*         *==*  *=========*  *==========*/
/*==========================================================================================================================================================*/
/*==========================================================================================================================================================*/
/*=======================================  Portfolio Site for Atlanta-based Photographer - Mauricio Dumet ==================================================*/
/*==========================================================================================================================================================*/
/*==========================================================================================================================================================*/
/*==========================================================================================================================================================*/




/*==================================================================================================================*/
/*==================================================================================================================*/
/*==================================                                     ===========================================*/
/*==================================           Project Images            ===========================================*/
/*==================================                                     ===========================================*/
/*==================================================================================================================*/
/*==================================================================================================================*/


/*Project Jumbotron*/

.jumbotron.project{
	min-height: 200px;
}

.jumbotron.project {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}


img {
	border: none;
}

.project-img {
	width: 100%;
	height: 260px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-bottom: 20px;
	border: transparent;
	background-color: transparent;		
}


.scope-img {
	height: 200px;
	margin-top: 20px;	
}


@media (min-width: 768px) {
	
}

@media (min-width: 992px) {

}



















